.form {
    font-family: "Roboto", serif;
    width: 320px;
    padding: 20px;
    box-shadow: 3px 6px 53px -18px rgba(0,0,0,0.6)
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
}

.select {
    margin-bottom: 15px;
}